
%a(href='javascript:void(0)' onclick='aac.toggle_answerable()')
  - case @answerable.type
  - when 'Ballot'
  
    - if @answerable.new_record?
      .table.vote.new    
        .cell= t('askable.show.atv')
    - else
      - vote_class, vote =  @answerable.vote > 0 ? ['yes', @askable.yes] : ['no', @askable.no]
      .table.vote.update(class='#{ vote_class }')
        .cell= t('askable.show.edit_vote', vote: truncate(vote, :separator => ' '))
          
  - when 'Answer'
    - if @answerable.new_record?
      .table.answer.new
        .cell= t('askable.show.ata')
    - else
      .table.answer.update
        .cell= t('askable.show.edit_answer')


      