= form_for answerable, :as => 'answerable', :url => url, :remote => true do |f|
  %h2 What do you say?
  .votes.table
    .cell.yes(class='#{ answerable.vote > 0 ? 'checked' :  ''}')
      = f.radio_button :vote, '1'
      = f.label :vote, @askable.yes, :value => '1'
    .cell.or.slab
      or
    .cell.no(class='#{ answerable.vote < 0 ? 'checked' : '' }')
      = f.radio_button :vote, '-1'
      = f.label :vote, @askable.no, :value => '-1'
  
  %h2.option Care to elaborate?
  .answer
    = f.text_area :body

  .submit
    = f.hidden_field :country_code, :value => @country.code
    = f.hidden_field :askable_id, :value => @askable.id
    
    = f.submit t('submit')
    = link_to_function t('cancel'), 'aac.toggle_answerable()'
    
