.answerable(class='#{ answerable.vote > 0 ? "yes" : "no" unless answerable.vote.blank? }' id='answerable_#{ answerable.id }')
  .answerer= answerable_user_info(answerable.user, answerable.vote, current_user)
  
  - unless answerable.body.blank?
    .answerable_body
      .ellipsis.ellips
        .html= answerable.body.html_safe
      .ans_clps
        = link_to_function t('askable.show.collapse'), 'javascript: aac.eclipsis_collapse($(this))'

- unless answerable.body.blank?
  = render 'askables/answer_comments', :answerable => answerable
