- @is_owner ||= (current_user.present? && current_user == @askable.owner)
- @orig_lang ||= @askable.translations.collect {|t| t.locale}.first


.question
  .header
    %h1.yesno
      %span(class = '#{ @askable.is_a?(Poll) && @askable.or_negative? ? "yes" : "" }')
        = @askable.body
        
      - if @askable.is_a?(Poll) && !@askable.simple?
        - unless @askable.or_negative?
          %span.yes= @askable.yes
        %em= t('or')
        %span.no<= @askable.no
        ?

    - unless @askable.description.blank?
      .desc= @askable.description
    
  - if can_edit || can_improve
    .edit
      = form_for @askable, as: 'askable', remote: true, url: country_askable_path(@country, @askable) do |f|
        = f.hidden_field :country_code, :value => @country.code
        
        - unless @orig_lang == I18n.locale
          .orig
            - I18n.with_locale(@orig_lang) do
              %h1
                = @askable.body
                
              - if @askable.is_a?(Poll)
                .yesno
                  - if @askable.is_a?(Poll)
                    %span.yes= @askable.yes
                    %em= t('or')
                    %span.no= @askable.no
                  
          
        .body= f.text_area :body
        
        - if @askable.is_a?(Poll)
          .table.yesno
            .cell.yes= f.text_field :yes, class: 'field'
            %span.or= t('or')
            .cell.no= f.text_field :no, class: 'field'
            
        - unless @orig_lang == I18n.locale
          .orig.desc= I18n.with_locale(@orig_lang) { @askable.description.blank? ? '...' : @askable.description }

        .text= f.text_area :description

        .submit(class='#{ @orig_lang == I18n.locale ? "" : "low" }')
          - unless @orig_lang == I18n.locale
            .orig.legend
              #{ t('askable.show.is_orig') }:
              = t("language.#{ @orig_lang }")
          = f.submit t('done')
          = link_to_function t('cancel'), 'aac.toggle_edit()'