- title = "Ask #{@country.name}"

- content_for :title_string do
  = title + ": " + @askable.body.truncate(80, :separator => ' ')

- content_for :js do
  = javascript_include_tag 'askable'

- if current_user
  - @answerable = @askable.answerables.where(country_code: @country.code, user_id: current_user.id).first
  - @is_owner = (current_user == @askable.owner)

#spbody
  #sph
    %h4.info
      .user
        = user_country_flag_link @askable.owner, :title => "#{@askable.owner} is from #{@askable.owner.country}"
        is asking #{link_to @country, country_path(@country)}:
    .poll
      .flag= link_to (country_image @country, 'o', :size => '50x50'), country_path(@country)
    
      %h1.question
        %span
          = best_in_place_if @is_owner, @askable, :body, :type => :textarea, :ok_button => 'OK', :path => country_askable_path(@country, @askable), :classes => 'update_question_success', :data => { :country => @country.slug }

    .lc    
      - if @is_owner && @askable.description.present?
        .desc= best_in_place @askable, :description, :type => :textarea, :ok_button => 'OK', :path => country_askable_path(@country, @askable), :nil => 'add description...', :classes => 'update_desc_success'
      - elsif @is_owner
        .add_desc= best_in_place @askable, :description, :type => :textarea, :nil => 'add description...', :ok_button => 'OK', :path => country_askable_path(@country, @askable), :classes => 'update_desc_success'
      - elsif @askable.description.present?
        .desc= @askable.description

      .comments_head
        = best_in_place_if @is_owner, @askable, :coverage, :display_with => :poll_coverage_info, :helper_options => { :country => @country }, :type => :select, :collection => poll_coverage_data(@askable.coverage, @country), :path => country_askable_path(@country, @askable)

        %span.sep
          |
        = link_to_function pluralize(@askable.comment_threads.size, 'comment'), '$("#askable_comments .detail").show("blind")', :id => 'ltpcs'

      = render 'askable_comments'

  #spb
    .rc  
      %ul
        #follow= render 'follow'
      
        Share to
        %li.share= link_to 'Facebook', '#'
        %li.share= link_to 'Twitter', '#'
        %li.share= link_to 'Google', '#'
    
      .polls
        %h3 More Questions
        - askables = @askable.more_askables
      
        %ul
          - askables.each do |a|
            %li= link_to a, country_askable_path(@country, a)
    .lc
      #ballots
        - if @complex.blank?
          %h2 Waiting for 10 people's votes
        - else
          %h2 #{ @askable.ballots.size } people have voted

          = render 'complex'
  


              
