- reply ||= false

- url = '/comments'
- url << "?page=#{ params[:page] }" if reply

= form_for comment, :url => url, :method => :post, :remote => true do |f|
  = f.hidden_field :commentable_id
  = f.hidden_field :commentable_type
  = f.hidden_field :parent_id
  = f.text_area :body
  = f.submit reply ? t('reply') : t('plural.comment', count: 0)
  
  - if reply
    = link_to_function t('cancel'), '$(this).closest(".reply").slideUp()'
  - else
    = link_to_function t('cancel'), 'aac.cancel_comment($(this))'