- reply ||= false

= form_for comment, :url => comments_path, :remote => true do |f|
  = f.hidden_field :commentable_id
  = f.hidden_field :commentable_type
  = f.hidden_field :parent_id
  = f.text_area :body
  = f.submit "Submit"
  - if reply
    = link_to_function 'Cancel', '$(this).parent().parent().hide()'
  - else
    = link_to_function 'Close', '$(this).closest(".detail").hide()'