- @country = @ratable

%h2= @country.name

%div= @country.full_name

%p
 - if current_user
  - @rating = Rating.find_by_user_id_and_ratable_id(current_user.id, @country.id)
  - if @rating.blank?
   %div= link_to 'Rate this country', new_ratable_rating_path(@country)
  - else
   %h3 Your rating is #{@rating.value}
   %div= link_to 'Change your rating', edit_rating_path(@country)
  
