= form_for @user, :url => user_path(@user), :method => :put, :html => {:multipart => true} do |f|
  %p
    = f.label_text_field :first_name, "First name: " 
    = f.label_text_field :last_name, "Last name: "
  
  %p
    =f.label_text_field :email, "Email: "
  
  %p
    =f.label_password_field :password, "New Password: ", :value => ""
  
  %p
    =f.label_password_field :password_confirmation, "Password Confirmation: "
  
  %p
    = f.label :avatar, "Your new look: "
    = f.file_field :avatar

  %p
    =f.submit "Update"