
- content_for :title_string do
  = 'Sign up Ask a Country'

- content_for :js do
  = javascript_include_tag 'home'

- flash.now[:alert] = signup_validation_error if @user.errors.present?


#signup.home
  %h1 Sign up
  
  .holder
    = render 'user_sessions/links'
    
    .email
      %strong.or
        or
        = link_to_function 'sign up with email', 'aac.toggle_login_form()'
      
      .form(style='#{ "display: none" unless  @user.errors.present? }')
        = form_for @user do |f|
          .wrapper
            = f.text_field :email, :tabindex => 1
            = f.label :email, 'Your Email', class: 'placeholder'
    
          .wrapper
            = f.text_field :first_name, :tabindex => 2
            = f.label :first_name, 'First(display) name', class: 'placeholder'
          
            .wrapper
              = f.text_field :last_name, :tabindex => 3
              = f.label :last_name, 'Last name(optional)', class: 'placeholder'
  
          .wrapper
            = f.password_field :password , :tabindex => 4
            = f.label :password, "Password", class: 'placeholder'
  

          .submit= f.submit "Sign up", :tabindex => 5
    
    .reminder
      Have an account already? #{ link_to 'Log in here', login_path }.
