- content_for :actioner do
  .action
    %h1 Sign Up

= form_for @user do |f|
  %p
    = f.label :first_name, "Your first name"
    = f.text_field :first_name
    = f.label :last_name, ", and last name"
    = f.text_field :last_name
  
  %p
    = f.label_text_field :email, "Email: "
  
  %p
    = f.password_field :password, "Password: "
  
  %p
    = f.password_field :password_confirmation, "Password Confirmation: "

  %p
    = f.submit "Submit"

