
- title = "Log in with #{@info.provider.capitalize}"

- content_for :title_string do
  = title

#confirm.home
  %h1 Confirm your account
  
  .holder
    .form
      = form_for @user do |f|
        .avatar
          = image_tag @info.image
          %br
          = link_to_function 'change it', '#'
          = f.file_field :avatar, :value => @info.image, :tabindex => 4
        
        .wrapper
          = f.label :email, "Email: "
          .stroke= f.text_field :email, :tabindex => 1
    
        #flnames.wrapper
          %table
            %tr
              %td
                = f.label :first_name, "First name:"
                .stroke= f.text_field :first_name, :tabindex => 2
              %td.optional
                = f.label :last_name, "Last name:"
                .stroke= f.text_field :last_name, :tabindex => 3
              
          .submit= f.submit "Save", :tabindex => 5