- @is_owner = (@user == current_user)

- content_for :js do
  = javascript_include_tag 'user' if @is_owner

%h1= @user.name
#avatar= image_tag(@user.avatar_url)

%h3 Watching
%h3 Questions
%h3 Profile

%table#edits
  %tr
    %td 
      %span#fnl First Name: 
    %td= @is_owner ? on_the_spot_edit(@user, :first_name) : @user.first_name

  %tr
    %td
      %span#lnl Last Name: 
    %td= @is_owner ? on_the_spot_edit(@user, :last_name, :type => :text) : @user.last_name

/= render "edit", :user => @user


%p
  home country: #{@user.country.name}
  
%p
  knows the following countries well enough to answer questions about them:
  %ul
    %li China
    %li United Kingdom
      
%p
  watching country:
  %ul
    %li China
    %li United States
    
%h2 
  Recent Activities
%ul
  %li Added a question for China: blah blah blah
  %li Voted for "No" on the question for United States: blah blah