- @is_owner = (@user == current_user)

- content_for :js do
  = javascript_include_tag 'user' if @is_owner

#suh
  #avatar= image_tag(@user.avatar_url)
  %h2= @user.name

#suw.su
  %h2 Watching
  .hlocs
    - countries = @user.watching_countries
    - countries.each do |c|
      %a(href="/#{c.slug}")
        .c
          = image_tag "/assets/flags/#{c.code}-o.png"
          %br 
          %span= c

#sua.su
  %h4 Asking
  .polls
    - askings = @user.polls.includes(:country)
    - askings.each do |a|
      .poll= link_to a.question_answers, country_poll_path(a.country, a)


#suv.su
  %h4 Voted
  .polls
    - voted = @user.voted_polls.includes(:country)
    - voted.each do |v|
      .poll= link_to v, country_poll_path(v.country, v)

#suf.su
  %h4 Following
  .polls
    - followings = @user.following_polls.includes(:country)
    - followings.each do |f|
      .poll= link_to f.question_answers, country_poll_path(f.country, f)



%h2 Profile

%table#edits
  %tr
    %td 
      %span#fnl First Name: 
    %td= @user.first_name

  %tr
    %td
      %span#lnl Last Name: 
    %td= @user.last_name



%p
  home country: #{@user.country}

- if @is_owner  
  = render 'edit'
    
%h2 
  Recent Activities
%ul
  %li Added a question for China: blah blah blah
  %li Voted for "No" on the question for United States: blah blah