- content_for :js do
  = javascript_include_tag 'search'

#hhead
  %h1 Find the answer of the people.
  %h3 
    Ask a country anything you wanna know in
    %em closed-ended questions,
    and help the world understand a country better
    by 
    %em voting for the right answers.


#hq
  %h2 
    Top question for
    = country_m_flag_link(@country)
  
  / - poll = @country.polls.featured.sample
  - poll = @country.polls.first
  
  .poll.box
    %a(href="#{country_poll_path(@country, poll)}")
      =poll.question 

      %span(class="answer yes") &nbsp;#{poll.yes}&nbsp;
      or
      %span(class="answer no") &nbsp;#{poll.no}&nbsp;


#hactions
  #hgo.action
    %h2
      Find your country
    #widget.ui-widget
      %label(for="search") go to
      %input#search(value="your home country")
  #hask.action
    %h2 Wanna ask a country too?
    %a Create a Question now &rarr;