<script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>

<h1>Home</h1>
<%= flash[:notice] %>
<div>
	<% if current_user %>
		<%= "Signed in as #{current_user.email}. Not you?" %>
		<%= link_to "Sign out", logout_path %>
	<% else %>
		<%= link_to "Sign in", login_path %> |
		<%= link_to "Sign in with Facebook", "/auth/facebook" %>
	<% end %>
	
</div>
<div>
	<h2>The Countires</h2>
	<ul>
		<% Country.all.each do |c| %>
			<li><%= link_to c.short_name, c %></li>
		<% end %>
	</ul>
</div>

