- content_for :js do
  :javascript
    if (window.location.hash == '#_=_') window.location.hash = '';
  =  javascript_include_tag params[:controller]

- content_for :actioner do
  .action.home
    %h1 
      Ask a country anything
    .arrow
      = link_to image_tag("/assets/arrow_bottom.png"), "javascript:void(0)", :id => "page2"



%h2 People are asking #{@country.name}:
.light not from #{@country.name}? see #{link_to "your home country", "#"}

#ask
  = render "polls/poll_list", :polls => @country.top_polls(5), :country => @country

%h2 Your answers wanted! Let's Quiz

    
- content_for :bottom do
  #bottom
    .actioner
      #and.action.home
        %h1
          and . . .
      #page2_top.action.home
        %h1 
          Find the answer of the people
        .arrow
          = link_to image_tag("/assets/arrow_up.png"), "javascript:void(0)", :id => "page1"
        
    .contenter
      .inner
        %h2 List of Questions
  




/ %p= link_to "See all countries...", index_countries_path