:plain
  var countries = [];

- @countries.each do |c|
  :plain
    countries.push(
      {
        full: "#{c.name} #{c.code}",
        slug: "#{c.slug}",
        name: "#{c.name}",
        category: "#{c.polls_count.present? && c.polls_count > 0 ? 'Frequently asked' : 'All countries'}"
      }
    )