
- p = Poll.find(event.askable_id)

.feed
  .avatar
    = user_small_avatar_link(p.user)

  .poll
    .info  
      = user_country_flag_link p.user, current_user, :title => "#{p.user} is from #{p.user.country}"
      created a new poll
      - if show_country
        for #{ link_to p.country, country_path(p.country) }
  
    .question
      = link_to p, country_askable_path(p.country, p)
  
