- poll = Poll.find(event.askable_id)

.avatar
  = user_small_avatar_link(poll.owner)
  
.poll
  .info  
    = user_country_flag_link poll.owner, current_user, :title => "#{poll.owner} is from #{poll.owner.country}"
    created a new poll
    - if show_country
      for #{ link_to poll.country, country_path(poll.country) }
    
  .question
    = link_to poll.to_s(false), country_askable_path(poll.country, poll)
  
