- question = Question.where('id = ?', event.askable_id).first

- unless question.body.blank?
  .feed
    .avatar
      = user_small_avatar_link(question.user)
  
    .poll
      .info  
        = user_country_flag_link question.user, current_user, :title => "#{question.user} is from #{question.user.country}"
    
        - if show_country
          asked #{ link_to question.country, country_path(question.country) }
        - else
          asked
    
        a new question
      
      .question
        = link_to question, country_askable_path(question.country, question)