- ballot ||= @commentable

.comments
  .actions
    = link_to 'Like', '#'
    = link_to_function pluralize(ballot.comment_threads.size, 'comment'), '$(this).parent().next(".detail").toggle()', :class => 'scs'
    
  .detail
    .comments_holder
      = render :partial => 'comments/comment', :collection => ballot.root_comments.includes(:user, :children), :as => :comment
  
    .form
      - new_comment = ballot.comment_threads.new
      = render 'comments/form', :comment => new_comment
      
    .reply
      = render 'comments/form', :comment => new_comment, :reply => true
