- yes_class = poll.yes_positive ? "positive" : "negative"
- no_class = poll.yes_positive ? "negative" : "positive"

- positive_title = "This answer is the \"positive\" answer set by the creator. Voting for the positive answer will improve the overall rating of this country."
- negative_title = "This is the \"negative\" answer set by the creator. Negative votes will hurt the overall rating of this country."

#question.clear
  #question_body
    / use table/cell classes here to keep the question centered vertically
    .table
      .cell
        #legends
          %span.cat
            = poll_category_image poll
          %span
            = poll_creator_image poll
            = image_tag "/assets/right.png"
            = poll_coverage_image poll
        .q
          = poll.question
  #answer.table
    .yes{:class => "#{yes_class}", :title => "#{poll.yes_positive ? positive_title : negative_title}"}
      %p.cell= poll.yes
    .or
      %p.cell
        %span or
    .no{:class => "#{no_class}", :title => "#{poll.yes_positive ? negative_title : positive_title}"}
      %p.cell= poll.no
