
- s1 = %q(This answer is the "positive" answer set by the creator. Ballot for the positive answer will improve the overall rating of this country.)
- s2 = %q(This is the "negative" answer set by the creator. Negative votes will hurt the overall rating of this country.)

- title = {"positive" => s1, "negative" => s2}

#question.clear
  #question_body
    / use table/cell classes here to keep the question centered vertically
    .table
      .cell
        #legends
          %span.cat
            = poll_category_image poll
          %span
            = poll_creator_image poll
            = image_tag "/assets/right.png"
            = poll_coverage_image poll
        .q
          = poll.question
  #answer.table
    .yes(class="#{poll.yes_pn}" title="#{title[poll.yes_pn]}")
      %p.cell= poll.yes
    .or
      %p.cell
        %span or
    .no(class="#{poll.no_pn}" title="#{title[poll.no_pn]}")
      %p.cell= poll.no
