%ul.poll_list
  - polls.each do |p|
    %li
      / .legend
      /   = poll_category_image p
        
      .question
        = link_to p.question, country_poll_path(country, p)
        
      .info  
        %span.italic by
        %a(href="#{user_path(p.owner)}") #{p.owner.first_name}#{image_tag "/assets/flags/#{p.owner.country_code}.png", :title => "#{p.owner.first_name.capitalize} is from #{p.owner.country.name}."}

        &nbsp;
        %span
          %span.number=p.votings_count
          answers
        %span &nbsp; #{rand(500)} comments