- voting ||= @commentable

.comments
  .actions
    = link_to 'Like', '#'
    = link_to_function pluralize(voting.comment_threads.size, 'comment'), '$(this).parent().next(".detail").toggle()'
    
  .detail
    .comments_holder
      = render :partial => 'comments/comment', :collection => voting.root_comments, :as => :comment
  
    .form
      - new_comment = voting.comment_threads.new
      = render 'comments/form', :comment => new_comment
      
    .reply
      = render 'comments/form', :comment => new_comment, :reply => true
