- title = "Asking #{@country.name}"

- content_for :title_string do
  = title + ": " + @poll.question


- if current_user
  - @voting = Voting.where(:poll_id => @poll.id, :country_code => @country.code, :user_id => current_user.id).first

- if @voting.blank?
  - @voting = Voting.new


#q_panel.panel
  .banner
    %div
      %p Asking #{@country.name}
  = render @poll      
  

#info.clear
  #result
    %table
      %tr.head
        %td.left
        %td.number= @poll.votings.size
        %td.right people have voted
      %tr
        %td.left in which,
        %td.number= @poll.yes_votes_size
        %td.right chose "#{words_truncate @poll.yes, 10}"
      %tr
        %td.left and
        %td.number= @poll.no_votes_size
        %td.right said "#{words_truncate @poll.no, 10}"

  .avatar 
    = link_to (image_tag @poll.owner.avatar_url(:thumb)), user_path(@poll.owner)
  created by #{link_to @poll.owner.name, user_path(@poll.owner)} #{time_ago_in_words(@poll.created_at)} ago
  who is from #{Country.find_by_code(@poll.owner.country_code).name} and has asked #{@poll.owner.polls.approved.count} questions, and voted on #{@poll.owner.votings.count} questions



- unless @voting.new_record?
  %p
    You have voted for "#{@voting.vote > 0 ? @poll.positive : @poll.negative}"
      

#d_panel.panel
  .banner
    %div
      %p People Saying