
- @contenter_class = 'wider'

- content_for :js do
  = javascript_include_tag 'country', 'world_mill_en'

- content_for :title_string do
  = "Ask #{@country}"

:javascript
  aac.country_code = '#{ @country.code }';
  

- content_for :actioner do
  %h1#cshead
    = country_image(@country, 'm')
    = @country.to_s
    .search.ui-widget
      %input
      
  / %h3#facts
  /   Did you know?
  /   = @country.random_fact
  /   = link_to image_tag("/assets/refresh.png"), "#"

#csmap
  #world-map      
  .head
    .flag= country_image(@country, 'o')
    .headers
      %h1
        = @country.to_s
      %h4
        - unless @country.full_name.blank?  
          = @country.full_name
        - unless @country.alias.blank?  
          (#{ content_tag 'span', @country.alias })
  .search.ui-widget
    %input(value='Search for a country')



#csbody


  #csside.rc
    = render 'countries/watch'
    .wiki.block= link_to content_tag(:div, 'Know More'), @country.link, :target =>"_blank"
    
    %h2 Who is asking
    .hlocs
      - countries = @country.top_asking_countries
      - countries.each do |c|
        %a(href="/#{c.slug}")
          .c
            = image_tag "/assets/flags/#{c.code}-o.png"
            %br 
              %span= c
    
    - if false
      .info
        .p residents: #{ @country.residents.size }
        .p followers: #{ @country.followings.size }
        .p questions: #{ @country.askables.size }
        .p votes: #{ @country.answerables.size }
        .p answered questions: #{ @country.askables.polls.has_result.size }

  #csbox.lc
    = render 'sort', :active => @sort
          
    - entries = EntryLog.where('country_code = ?', @country.code).order('created_at DESC')
    
    .feed_list
      - entries.each do |e|
        .feed= render "template/#{e.kind.downcase}", :entry => e, :show_country => false
  
    %p= link_to "Create a new question", new_askable_path(:country => @country.code)

