- content_for :js do
  = javascript_include_tag "poll_pack"


- title = "Ask #{@country.pretty_name}"

- content_for :title_string do
  = title

#cshead(style="background-image: url('/assets/flags/#{@country.code}-o.png');")
  .head
    %h1
      = (@country.full_name.blank? ? @country.name : @country.full_name) + (@country.alias.present? ? " (#{@country.alias})" : "")
  
  #facts
    %h3
      Did you know?
      = @country.random_fact
      = link_to image_tag("/assets/refresh.png"), "#"

#csbody.clear
  #csside
    %h2 Where People Have Most Questions
    .macs
    
  
    / %ul.links
    /   %li(style="list-style: url('/assets/tick.png');")= link_to "Follow", "#", :id => "follow"
    /   %li(style="list-style: url('/assets/wiki.png');")= link_to "Know more about the country", @country.link, :target =>"blank", :id => "wlink"
    /   %li(style="list-style: url('/assets/amazon.png');")= link_to "Find a book about #{@country.pretty_name}", "", :target =>"blank", :id => "alink"
  
  #csbox.box
    %p= link_to "Create a new question", new_country_poll_path(@country)

    / - if current_user
    /   %p        
    /     %h2 
    /       Answer 10 questions in 1 
    /       %span.italic Poll Pack
    /     %p= link_to "Start Now", "#", :id => "poll_pack_start"



    %h2 Top Questions

    - @polls = Poll.approved.where("country_code = ? or country_code = 'all'", @country.code)

    = render "polls/poll_list", :polls => @polls, :country => @country