
:javascript
  aac.country_code = '#{ @country.code }'

- content_for :js do
  = javascript_include_tag 'country', 'world'

- content_for :title_string do
  = t 'country_title', :country_name => @country.to_s

- content_for :actioner do
  = render 'layouts/slider', :text => @country.to_s
      
      
#csmap
  #world-map      
  .head
    .flag= country_image(@country, 'o')
    .headers
      %h1
        = @country.to_s
      %h4
        - unless @country.full_name.blank?  
          = @country.full_name
        - unless @country.alias.blank?  
          (#{ content_tag 'span', @country.alias })
  .search.ui-widget
    %input



#csbody.box
  #csside.rc
    .actions
      = render 'countries/watch'
      .wiki= link_to 'Know More', @country.link, :target =>"_blank"
    
    .facts
      - random_fact = @country.random_fact
      - unless random_fact.blank?
        %h2 Did you know?

        = random_fact.html_safe
    
    .asking
      %h2 Who is asking
      .hlocs
        - countries = @country.top_asking_countries
        - countries.each do |c|
          %a(href="/#{c.slug}")
            .c
              = image_tag "/assets/flags/#{c.code}-o.png"
              %br 
                %span= c

  #csbox.lc
    = render 'sort', :active => @sort
          
    - events = @country.events.order('created_at DESC')
    
    .feed_list
      - events.each do |e|
        .feed= render "events/#{e.kind}", :event => e, :show_country => false
  
    %p= link_to "Create a new question", new_country_askable_path(@country)

