- if current_user
 - @rating = Rating.find_by_user_id_and_country_id(current_user.id, @country.id)

%h1= @country.name

- unless @country.full_name.blank? && @country.alias.blank?
 %h2= (@country.full_name.blank? ? '':@country.full_name) + (@country.alias.blank? ? '':' (' + @country.alias + ')')
 

- if @country.ratings.size >= 1
 %div #{@country.name} has a rating score of #{@country.rating_score}
- else
 %p There are not enough ratings for #{@country.name}. Please rate for this country now.

- if @rating.blank?
 %p= link_to 'Rate this country', new_country_rating_path(@country)
- else
 %h4 Your rating is #{@rating.value}
 %p= link_to 'Change your rating', edit_rating_path(@country)
  
