- content_for :js do
  = javascript_include_tag 'search', 'country'

- content_for :title_string do
  = "Ask #{@country}"

#cshead(style="background-image: url('/assets/flags/#{@country.code}-l.png');")
  .head
    %h1
      = (@country.full_name.blank? ? @country : @country.full_name) + (@country.alias.present? ? " (#{@country.alias})" : "")

    %h3#facts
      Did you know?
      = @country.random_fact
      = link_to image_tag("/assets/refresh.png"), "#"

#csbody
  #csside
    %ul.links
      #watch= render 'countries/watch' 
      %li.wiki= link_to "Know more about the country", @country.link, :target =>"_blank"
      %li.search.ui-widget
        %label(for="search")
          %span go to
        %input#search(value="another country")
  
    %h2 Who is asking
    #wias
      - countries = @country.top_asking_countries
      - countries.each do |c|
        %a(href="/#{c.slug}")
          .wia
            = image_tag "/assets/flags/#{c.code}-o.png"
            %br 
              %span= c
  
  
  #csbox.box
    #qs
      %h2 Top questions

      = render "polls/poll_list", :polls => @country.top_polls(10)
    
    %p= link_to "Create a new question", :controller => 'polls', :action => 'new', :c => @country.code
    