
- unless @country.full_name.blank? && @country.alias.blank?
  %h2= (@country.full_name.blank? ? '':@country.full_name) + (@country.alias.blank? ? '':' (' + @country.alias + ')')


%h2 
  What is 
  %span Your Opinion
  of
  %span #{@country.name}?

- if current_user
  %p        
    %h2 
      Answer 10 questions in 1 
      %span.italic Poll Pack
    %p= link_to "Start Now", "#", :id => "poll_pack_start"
  
  

%h2 Give positive or negative answers to the question below

- @polls = Poll.approved.where("country_code = ? or country_code = 'all'", @country.code)

%ul.poll_list
  - @polls.each do |p|
    %li
      %p
        %span.question
          = poll_category_image p
          
          = link_to p.question, country_poll_path(@country, p)
          
        by
        %span= link_to p.owner.name, p.owner