- content_for :actioner do
  #action
    %h2 Login

= form_for @user_session do |f| 
  = f.text_field :email, "Email: "

  = f.password_field :password, "Password: "

  = f.check_box :remember_me, " remember_me"

  %p
    = f.submit "Login"