
- content_for :title_string do
  = 'Log in to Ask a Country'

- content_for :js do
  = javascript_include_tag 'home'

- flash.now[:alert]  = login_validation_error if @user_session.errors.present?

#login.home
  %h1
    %span= t('login')
  
  .holder
    = render 'links'    
    
    .email      
      %strong.or<
        = t('or1') 
        = link_to_function t('home.login.with_email'), 'aac.toggle_login_form()'
      
      .form(style='#{ "display: none" unless  @user_session.errors.present? }')
        = form_for @user_session do |f|
          .wrapper
            = f.text_field :email, tabindex: 1
            = f.label :email, t('home.login.your_email'), class: 'placeholder'
    
          .forgot= link_to t('home.login.forgot'), password_resets_path
          .wrapper
            = f.password_field :password, tabindex: 2
            = f.label :password, t('home.login.password'), class: 'placeholder'
    
          .remember
            = f.check_box :remember_me, tabindex: 3
            = f.label :remember_me, t('home.login.remember')
          .submit
            = f.submit t('login'), tabindex: 4
          
    .reminder
      = t('home.login.dont_have')
      = link_to t('home.login.now'), signup_path
