%header#page_header{:role => "banner"}
  .inner
    %nav#utility
      %div
        - if current_user
          = link_to "Home", root_url
          &nbsp;
          = link_to current_user.name, user_path(current_user)
          &nbsp;
          = link_to "Log out", logout_path
        - else
          = link_to "Sign up", signup_path 
          %span.sf.italic or
          = link_to "Log in", login_path
          / |
          / = link_to "Log in with Facebook", "/auth/facebook"
          
    = link_to image_tag("/assets/logo.png"), root_url, :id => "logo", :class => request.path == "/" ? "vague" : "", :title => "Ask a Country Home"