%header#page_header{role: "banner"}
  .inner
    %nav#utility
      - if current_user
        = link_to t(:home_link), root_url
        &nbsp;
        = link_to current_user.name, user_path(current_user)
        &nbsp;
        = link_to t(:logout), logout_path
      - else
        = link_to t(:signup), signup_path 
        %span or
        = link_to t(:login), login_path

          
    = link_to image_tag(t(:logo)), root_url, :id => "logo", :title => "Ask a Country Home"
