%header#page_header{:role => "banner"}
  .inner
    %nav#utility
      %div
        - if current_user
          = link_to current_user.name, user_path(current_user)
          &nbsp;
          = link_to "Log out", logout_path
        - else
          = link_to "Sign up", signup_path 
          %span or
          = link_to "Log in", login_path
          / |
          / = link_to "Log in with Facebook", "/auth/facebook"
          
    /TODO: refactor here
    = link_to request.fullpath == "/" ? image_tag("/assets/logo.png") : image_tag("/assets/home.png") , root_url, :id => "logo", :title => "Ask a Country Home"