!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      - title = yield :title_string
      = title.present?  ? title : t('default_title')

    = csrf_meta_tags
    
    = stylesheet_link_tag "application"
    = yield :css
    
    :javascript
      window.aac = {}
      window.I18n = #{ current_translations.to_json.html_safe }
    
    = javascript_include_tag "/countries", "application"
    = yield :js
    
    / [if lt IE 9]
      = stylesheet_link_tag "ie8"
  
  %body
    = render 'layouts/header'
    
    .actioner(class='#{ @actioner_class }')
      .inner
        = yield :actioner
    
    .contenter
      #content.inner
        = render 'layouts/notice'
        = yield
    
    
    = render 'layouts/footer'
    
    