!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      - title = yield :title_string
      = title.present?  ? title : "Ask a Country"

    = csrf_meta_tags
    
    = stylesheet_link_tag "application"
    = yield :css
    
    = javascript_include_tag "application"
    = yield :js
    
    = if false
      / [if lt IE 9]
        = stylesheet_link_tag "ie8"
  
  %body
    = render 'layouts/header'
    
    .actioner(class='#{ @actioner_class }')
      .inner
        = yield :actioner
    
    .contenter(class='#{ @contenter_class }')
      #content.inner
        = render 'layouts/notification'
        = yield
    
    
    = render 'layouts/footer'
    
    