!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      - title = yield :title_string
      = title.present?  ? title : "Ask a Country"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application" 
    = csrf_meta_tags
    = yield :js
    
    = favicon_link_tag "/favicon.ico"
  
  %body
    = render 'layouts/header'
    
    .contenter
      .wrapper
        #content.inner
          #notification
            - if flash[:notice]
              %span.msg#notice= flash[:notice].html_safe
            - if flash[:alert]
              %span.msg#alert= flash[:alert].html_safe

          = yield
    
    = render 'layouts/footer'