!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      - title = yield :title_string
      = title.present?  ? title : t('default_title')

    = csrf_meta_tags
    
    = stylesheet_link_tag "application"
    = yield :css
    
    :javascript
      window.aac = {}
      
      aac.search_string = '#{ t "search_string" }'
      aac.search_all = '#{ t "search_all" }'
      aac.search_hint_string = '#{ t "search_hint" }'
    
    
    = javascript_include_tag "application"
    = yield :js
    
    / [if lt IE 9]
      = stylesheet_link_tag "ie8"
  
  %body
    = render 'layouts/header'
    
    .actioner(class='#{ @actioner_class }')
      .inner
        = yield :actioner
    
    .contenter(class='#{ @contenter_class }')
      #content.inner
        = render 'layouts/notice'
        = yield
    
    
    = render 'layouts/footer'
    
    