!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      - title = yield :title_string
      = title.present?  ? title : "Ask a Country"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application" 
    = csrf_meta_tags
  
  %body
    = render 'layouts/header'
    
    #actioner
      .inner
        = yield :actioner
  
    .container
      #contenter
        - if notice
          %p.notification.notice= flash[:notice]
        - if alert
          %p.notification.alert= flash[:alert]
  
        = yield
     
    = render 'layouts/footer'