!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      - title = yield :title_string
      = title.present?  ? title : "Ask a Country"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application" 
    = csrf_meta_tags
    = yield :js
    
    = favicon_link_tag "/favicon.ico"
  
  %body
    = render 'layouts/header'
    
    - actioner = yield :actioner
    - if actioner.present?
      .actioner
        = actioner
  
    .contenter
      #content.inner
        - if notice
          %p.notification.notice= flash[:notice]
        - if alert
          %p.notification.alert= flash[:alert]
  
        = yield
    
    - bottom = yield :bottom
    - if bottom.present?
      = bottom
    
    = render 'layouts/footer'