!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      - title = yield :title_string
      = title.present?  ? title : "Ask a Country"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application" 
    = csrf_meta_tags
    = yield :js
    
    = favicon_link_tag "/assets/favicon.png"
  
  %body
    = render 'layouts/header'
    
    .contenter
      .wrapper
        #content.inner
          = render 'layouts/notification'

          = yield
    
    = render 'layouts/footer'